@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body .botonWhatsappContainer {
  position: relative;
  height: 20vh;
}
body .botonWhatsappContainer .botonWhatsapp {
  position: absolute;
  bottom: 30px;
  right: 60px;
}
body .botonWhatsappContainer .botonWhatsapp img {
  width: 45px;
}
body .subtítulos {
  color: #0e0e0e;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav .iconoBillete {
  height: 60px;
  margin: auto;
  padding: 5px;
}
nav .itemHover:hover {
  background-color: #f9aa4b;
  border-radius: 8px;
  text-decoration: underline;
}

main h1 {
  color: #0e0e0e;
  margin: 2.5rem;
  padding: 2rem;
  font-weight: bold;
}
main .containerHome {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 6px 6px;
  grid-auto-flow: row;
  grid-template-areas: "fotoHome1 textoHome1" "textoHome2 fotoHome2";
}
main .containerHome .textoHome1 {
  grid-area: "textoHome1";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  text-align: center;
}
main .containerHome .fotoHome1 {
  grid-area: "fotoHome1";
  margin: 20px auto;
}
main .containerHome .imgHome {
  width: 20rem;
}
main .containerHome .botonHome {
  border: solid 1px #0e0e0e;
  background-color: #0e0e0e;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}
main .containerHome .botonHome:hover {
  background-color: #f9aa4b;
  color: #0e0e0e;
  border: solid 1px #f9aa4b;
}
main .containerHome .fotoHome2 {
  grid-area: "fotoHome2";
  margin: 4rem;
}
main .containerHome .textoHome2 {
  grid-area: "textoHome2";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
@media screen and (max-width: 768px) {
  main .container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
    gap: 6px 6px;
    grid-auto-flow: row;
    grid-template-areas: "logo navBar" "productos productos" "servicios servicios" "footer footer";
  }
  main .containerHome {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 6px;
    grid-auto-flow: row;
    grid-template-areas: "fotoHome1" "textoHome1" "fotoHome2" "textoHome2";
  }
}

.footer {
  background-color: #f9aa4b;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .logoFooter img {
  width: 50px;
}
.footer .logoFooter img:hover {
  transform: scale(1.2, 1.2);
}
.footer .redesSociales img {
  width: 40px;
}

main .cardServicios1 {
  border: none;
  margin: 5rem auto;
}
main .cardServicios1 .tituloCardServicios {
  font-weight: bold;
  font-size: 2.5rem;
}
main .iconServicios {
  width: 50px;
}
main .botonWhatsappContainer {
  position: relative;
  height: 20vh;
}
main .botonWhatsappContainer .botonWhatsapp {
  position: absolute;
  bottom: 30px;
  right: 60px;
}
main .botonWhatsappContainer .botonWhatsapp img {
  width: 45px;
}
main .listaServiciosContainer {
  height: 500px;
  width: 75vw;
  padding: 0.5rem;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .listaServiciosContainer .itemComprar {
  background-color: #f9aa4b;
  border-radius: 8px;
  margin: 0.5rem;
  text-align: center;
  padding: 20px;
}
main .listaServiciosContainer .itemDepositar {
  background-color: #f9aa4b;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 20px;
  text-align: center;
}
main .listaServiciosContainer .itemRetirar {
  background-color: #f9aa4b;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 20px;
  text-align: center;
}
main .listaServiciosContainer .itemTrading {
  background-color: #f9aa4b;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 20px;
  text-align: center;
}
main .listaServiciosContainer .listaServicios {
  color: white;
  font-size: 2rem;
  line-height: 1.6;
  margin: 50px;
  margin: 0.5rem;
  font-size: 2rem;
  list-style-type: none;
}
main .listaServiciosContainer .listaServicios .grad1 {
  background: linear-gradient(to right, #f9aa4b, violet);
}
main .listaServiciosContainer .containerGrillaServicios {
  width: 75vw;
  padding: 1rem;
  margin: 20px auto;
}

.contenedorTextoAbout {
  width: 80vw;
  background-color: #ffe17f;
  border-radius: 8px;
  margin: 2rem auto;
  padding: 20px;
}
.contenedorTextoAbout textoAbout {
  text-align: center;
  color: #0e0e0e;
  line-height: 1.6;
  margin: 1.5rem auto;
}

.fotoCarrousel {
  border-radius: 10px;
}

.acordeon {
  width: 80vw;
  margin: 20px auto;
}
.acordeon .learnCollapse {
  color: #0e0e0e;
  border: solid 1px orange;
  font-weight: bold;
}
.acordeon .learnCollapse .colapsed {
  background-color: #f9aa4b;
}
.acordeon .accordion-button:not(.collapsed) {
  background-color: #f9aa4b;
  box-shadow: none;
  color: #0a0b0d;
}
.acordeon .accordion-button:focus {
  border-color: #f9aa4b;
  box-shadow: none;
}

.formu {
  margin: 0 auto;
  background-color: #f9aa4b;
  border: solid #f9aa4b 1px;
  border-radius: 8px;
}
.formu .form-label {
  color: #0e0e0e;
}
.formu .botonForm {
  background-color: #f9aa4b;
  border: #0e0e0e solid 1px;
  color: #0e0e0e;
}
.formu .botonForm:hover {
  background-color: #0e0e0e;
  color: antiquewhite;
}

/*# sourceMappingURL=style.css.map */
