nav {
  display: flex;
  justify-content: space-between;
  .iconoBillete {
    height: 60px;
    margin: auto;
    padding: 5px;
  }
  .itemHover {
    &:hover {
      background-color: $orange;
      border-radius: 8px;
      text-decoration: underline;
    }
  }
}
